version: '3'

services:

  retinopathy-email-service:
    build:
      context: .  # Build the image from the Dockerfile in the current directory
    restart: always  # Automatically restart the container on failure
    container_name: retinopathy-fastapi-email-container
    working_dir: /retinopathy_email_service
    volumes:
      - .:/retinopathy_email_service  # Mount the current directory
    ports:
      - 9020:9007  # FastAPI default port
    networks:
      - fastapi_retinopathy_backend_network

networks:
  fastapi_retinopathy_backend_network:
    external: true
